-- 1. Añadir Lotería y Fecha a las Rifas
ALTER TABLE public.rifas ADD COLUMN IF NOT EXISTS lottery_type TEXT DEFAULT 'baloto';
ALTER TABLE public.rifas ADD COLUMN IF NOT EXISTS play_date DATE;

-- 2. Crear Tabla de Tickets/Boletas
CREATE TABLE IF NOT EXISTS public.tickets (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    rifa_id UUID REFERENCES public.rifas(id) ON DELETE CASCADE,
    number TEXT NOT NULL,
    status TEXT DEFAULT 'available',
    buyer_name TEXT,
    buyer_phone TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
    UNIQUE(rifa_id, number)
);

-- 3. Habilitar Seguridad (RLS) para Tickets
ALTER TABLE public.tickets ENABLE ROW LEVEL SECURITY;

-- 4. Cualquiera puede ver los tickets (Para la Grilla Pública)
CREATE POLICY "Permitir lectura publica de tickets" 
ON public.tickets FOR SELECT 
USING (true);

-- 5. Cualquiera puede apartar un ticket publicamente (Para los Clientes)
CREATE POLICY "Permitir reservar ticket" 
ON public.tickets FOR INSERT 
WITH CHECK (true);

-- 6. Solo el organizador puede actualizar tickets (Para marcar como pagados/disponibles)
CREATE POLICY "Permitir actualizar al organizador" 
ON public.tickets FOR UPDATE 
USING (
    EXISTS (
        SELECT 1 FROM public.rifas
        WHERE rifas.id = tickets.rifa_id
        AND rifas.organizer_id = auth.uid()
    )
);
